<div class="card">
  <div class="card-header">
    <div class="float-left">Listagem de Contribuintes</div>
    <div>
      <button
        mat-button
        class="btn btn-primary mb-1 btn-sm float-right"
        [routerLink]="['/cadastrar']"
        routerLinkActive="active"
      >
        +
      </button>
    </div>
  </div>

  <div class="card-body table-responsive">
    <table class="table">
      <thead class="table-light">
        <tr>
          <td>#</td>
          <td>Nome</td>
          <td>E-mail</td>
          <td>CPF</td>
          <td>Telefone</td>
          <td>Celular</td>
          <td>Endereço</td>
        </tr>
      </thead>
      <tr *ngFor="let contribuinte of contribuinte$ | async">
        <td>{{ contribuinte.id }}</td>
        <td>{{ contribuinte.nome }}</td>
        <td>{{ contribuinte.email }}</td>
        <td>{{ contribuinte.cpf }}</td>
        <td>{{ contribuinte.telefone }}</td>
        <td>{{ contribuinte.celular }}</td>
        <td>
          <!-- <li *ngFor="let endereco of contribuinte.enderecos">
                        {{endereco.rua}} 
                     </li> -->

          <!-- "rua": "João Ribeiro",
        "numero": "1003",
        "bairro": "Cardoso",
        "cidade": "Joinville",
        "cep": "09530210",
        "estado": "Santa Catarina",
        "pais": "Brasil" -->
        </td>
        <td>
          <button mat-button class="btn btn-warning">Alterar</button>
          <button mat-button class="btn btn-danger ">Remover</button>
        </td>
        <!-- <td>{{contribuinte.enderecos[0]}}</td> -->
      </tr>
    </table>
  </div>
</div>
