<div class="card">
  <div class="card-header">
    <div class="float-left">Listagem de Contribuintes</div>
    <div>
      <button
        mat-button
        class="btn btn-primary mb-1 btn-sm float-right"
        [routerLink]="['/cadastrar']"
        routerLinkActive="active"
        title="Cadastrar Contribuinte"
      >
        <i class="bi bi-person-plus"></i>
      </button>
    </div>
  </div>

  <div class="card-body table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr class="text-center">
          <td>#</td>
          <td>Nome</td>
          <td>E-mail</td>
          <td>CPF</td>
          <td>Telefone</td>
          <td>Celular</td>
          <td>Endereço</td>
          <td>Ações</td>
        </tr>
      </thead>
      <tr *ngFor="let contribuinte of contribuinte$ | async">
        <td>{{ contribuinte.id }}</td>
        <td>{{ contribuinte.nome }}</td>
        <td>{{ contribuinte.email }}</td>
        <td>{{ contribuinte.cpf }}</td>
        <td>{{ contribuinte.telefone }}</td>
        <td>{{ contribuinte.celular }}</td>
        <td>{{ contribuinte.enderecos }}</td>
        <td class="p-0 text-center">
          <div class="p-0">
            <button
              mat-button
              type="button"
              class="btn btn-warning rounded"
              title="Alterar Contribuinte"
              (click)="onEdit(contribuinte.id)"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              mat-button
              type="button"
              class="btn btn-danger rounded"
              title="Remover Contribuinte"
              (click)="onRemove(contribuinte.id)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </td>
        <!-- <td>{{contribuinte.enderecos[0]}}</td> -->
      </tr>
    </table>
  </div>
</div>
